<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="FluentAssertions" version="5.4.2" targetFramework="net471" />
  <package id="Invisionware.IoC" version="1.0.0" targetFramework="net471" />
  <package id="Invisionware.IoC.Autofac" version="1.0.0" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net471" />
  <package id="Serilog" version="2.7.1" targetFramework="net471" />
</packages>